.details {
	width: 50%;
	padding-right: 1rem;
	padding-bottom: 20px;

	.productName {
		margin: 0.5rem 0;
		font-weight: 700;
	}
	.price {
		color: $color-price;
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
	.extraInfo {
		margin-top: 2rem;
		li {
			width: 160px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1rem;
			margin-bottom: 1rem;
		}
	}
}

@media (max-width: 800px) {
	.details {
		padding: 10px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
}
