.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 2rem 0;
	// li {
	// 	cursor: pointer;
	// 	a {
	// 		&:global(.active) {
	// 			font-weight: 700;
	// 			color: $color-theme-main;
	// 		}
	// 	}
	// }
	button {
		background: none;
		border: none;
		cursor: pointer;
		color: $color-text-default;
	}
	.active {
		font-weight: 700;
		color: $color-theme-main;
	}
}
